<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.nurazlib.ztebaktebakan">

    <!-- SDK versions -->
    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="33"
        android:maxSdkVersion="33" />

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZTebakTebakan">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Intent filter untuk menangani URL dengan scheme khusus -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Menangani URL dengan scheme ztebaktebakan -->
                <data android:scheme="ztebaktebakan" />
            </intent-filter>
        </activity>

        <!-- AdMob App ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4186599691041011~9773663915" />

        <!-- Info Link Metadata -->
        <meta-data
            android:name="infoLink"
            android:value="https://xpocketmc.xyz" />

    </application>

</manifest>
